.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}

/* Make it responsive */
@media only screen and (max-width: 688px) {
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
